img {
    width: 100px;
    height: 100px;
          }
          .about-section {
            padding: 50px;
            text-align: center;
            background-color: #eef3fc;
            color: rgb(9, 9, 9);
            border: 1px solid black;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
          }
          button {
            display: flex;
            justify-content: center;
            border: 1px solid black;
            color: #f5e7e9;
            background-color:  #a90a1f;;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            position: relative;
        
          }
          
          